#card1 {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}
    
.gridview {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 10px;
}

.gridview-header {
    background-color: #c9302c;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
}


.gridview-row {
    border-bottom: 1px solid #ddd;
}


.gridview-alternating-row {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}


.gridview td, .gridview th {
    padding: 10px;
}


.gridview-pager {
    text-align: center;
    padding: 10px;
}